<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form>
            <h:outputLabel value="phone" for="phone"/><br></br>
            <h:inputText id="phone" value="#{bean.phone}"/><br></br>
            <h:outputLabel value="address" for="address"/><br></br>
            <h:inputText id="address" value="#{bean.address}"/><br></br>
            <br></br>
            добавить только во 2 бд <br></br>
            <h:commandButton id="ex6" value="ex5" action="#{bean.addToSecondDatabase()}"/>
        </h:form>
    </h:body>
</html>
