<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form>
            <h:outputLabel value="name" for="name"/><br></br>
            <h:inputText id="name" value="#{bean.name}"/><br></br>
            <h:outputLabel value="surname" for="surname"/><br></br>
            <h:inputText id="surname" value="#{bean.surname}"/><br></br>
            <h:outputLabel value="phone" for="phone"/><br></br>
            <h:inputText id="phone" value="#{bean.phone}"/><br></br>
            <h:outputLabel value="address" for="address"/><br></br>
            <h:inputText id="address" value="#{bean.address}"/><br></br>
            <br></br>
            Закончить транзакцию подтверждением и убедиться,<br></br>
            что обновления зафиксированы."<br></br>
            <h:commandButton id="ex1" value="ex1" action="#{bean.executeTransactionSuccess()}"/>
            <br></br>
            закончить транзакцию откатом в сессионном фасаде<br></br>
            для первой базы данных и убедиться, что обновления отменены." <br></br>
            <h:commandButton id="ex2" value="ex2" action="#{bean.rollbackFirstDB()}"/>
            <br></br>
            закончить транзакцию откатом, выбросив системное исключение<br></br>
            EJBException в сессионном фасаде для второй базы данных после<br></br>
            обновления источника данных, и убедиться, что обновления отменены." <br></br>
            <h:commandButton id="ex3" value="ex3" action="#{bean.throwExeptionSecondDB()}"/>
            <br></br>
            закончить транзакцию откатом в сессионном фасаде для первой базы данных,<br></br>
            но обновление второй базы данных должно выполняться вне контекста транзакции." <br></br>
            <h:commandButton id="ex4" value="ex4" action="#{bean.executeTransactionNotSupported()}"/>
            <br></br>
            закончить транзакцию откатом, выбросив системное исключение EJBException<br></br>
            в сессионном фасаде для второй базы данных, но обновление первой базы данных<br></br>
            должно выполняться в контексте новой транзакции."<br></br>
            <h:commandButton id="ex5" value="ex5" action="#{bean.executeTransactionNewContext()}"/>
            <br></br>
            добавить только во 2 бд <br></br>
            <h:commandButton id="ex6" value="ex5" action="#{bean.addToSecondDatabase()}"/>
        </h:form>
    </h:body>
</html>
