<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->
    <h:head>
        <title>index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <f:view>   
            <tr>
            </tr>
            <h:form >
               1 DataBase
                <table cellspacing="1" cellpadding="1"  width="80%" border="1" >  
                    <tr>
                        <td> id_client </td>
                        <td> name </td> 
                        <td> surname </td>
                    </tr> 
                    <c:forEach items="#{bean.allClients}" var="cl">
                        <tr> 
                            <td> #{cl.idClient} </td>
                            <td> #{cl.name} </td> 
                            <td> #{cl.surname} </td>
                        </tr> 
                    </c:forEach>
                </table>
                <br></br>
                2 DataBase
                <br></br>
                <table border="1" >
                    <tr>
                        <td> id </td>
                        <td> address </td> 
                        <td> phone </td>
                        <td> id_client </td>
                    </tr>  
                    <c:forEach items="#{bean.allContacts}" var="contact">
                        <tr> 
                            <td> #{contact.id} </td>
                            <td> #{contact.address} </td>  
                            <td> #{contact.phone} </td> 
                            <td> #{contact.idClient} </td> 
                        </tr> 
                    </c:forEach>
                </table> 
                <h:commandButton value="К экспериментам" action="/example.xhtml"/>
            </h:form>
        </f:view>
    </h:body>
</html>
